@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


/*---------------- REUSABLE CSS ----------------*/
:root {
  
    /*========== Colors ==========*/
    --light-brown: #a98467;
    --dark-brown: #6c584c;
    --lighter-brown: #a68a64; 
    --light-green: #dde5b6;
    --dark-green: #adc178;
    --almost-white: #f0ead2;
    --not-so-red: #bc4749
  }


body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--light-brown);
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(2px);

}
.app {
    background-color: var(--dark-green);
    box-shadow: rgba(0,0,0, 0.05) 0 6px 24px, rgba(0,0,0, 0.08) 0 0 0 1px;
    border-radius: 25px;
    padding: 10px;
    width: 800px;
    margin-top: 100px;
}

.button-container { 
    display: flex;
    align-items: center;
}

.info-container {
    display: flex;
    align-items:center;
    height: 60px; 
    justify-content: space-between;
}

.info-container > * {
    margin-right: 30px; 
}



.button-container button {
    margin: 0 5px;
    padding: 5px 10px;
    border-radius: 12px;
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
}

.task-title {
    font-size: 16px;
    color: var(--dark-brown);
    font-weight: 500;
}

.edit-button {
    border: 1.5px solid var(--dark-green);
    color: var(--dark-green);
    text-transform: uppercase;
    font-weight: bold;
}
.edit-button:hover {
    background-color: var(--dark-green);
    color: white;
}



.delete-button {
    border: 2px solid var(--not-so-red);
    color: var(--not-so-red);
    text-transform: uppercase;
    font-weight: bold;
}

.delete-button:hover {
    background-color: var(--not-so-red);
    color: white;
}

.delete-button:active {
    color: white;
}

.create {
    border: none;
    color: white;
    height: 40px;
    text-transform: uppercase;
    font-weight: bolder;
    background-color: var(--dark-green);
}

.create:hover {
    color: white;
    background-color: var(--dark-brown);
}

.add-new {
    border: 2px solid var(--dark-brown) !important;
    background-color: var(--dark-brown) !important;
    text-transform: uppercase;
    color: var(--almost-white);
    font-weight: bold;
}
.add-new:hover {
    background-color: var(--almost-white) !important;
    border: 2px solid var(--dark-brown);
    color: var(--dark-brown);
}

.signout {
    border: 2px solid var(--not-so-red) !important;
    background-color: var(--not-so-red) !important;
    text-transform: uppercase;
    color: var(--almost-white);
    font-weight: bold;

}

.signout:hover {
    background-color: var(--almost-white) !important;
    border: 2px solid var(--not-so-red);
    color: var(--not-so-red);
}



input {
    margin: 11px 0;
    padding: 12px 16px;
    border-radius: 14px;
    border: 1.5px solid var(--dark-green);
}
/*List Header*/

.list-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: rgba(0,0,0,0.05) 1px solid;
    
}

.list-header h1 {
    color: #ffffff;
    padding-left: 15px;
}


/*List Item*/
.list-item {
    width: 100%;
    margin: 15px 0;
    border-radius: 20px;
    box-shadow: rgba(0,0,0,0.08) 0 0 0 1px;
    display: flex;
    justify-content: space-between;
    background-color: var(--almost-white);
    border-radius: 20px;
    
}
.tick {
    padding: 15px;
}

.tick path {
    stroke: var(--dark-brown);
    stroke-miterlimit: 10;
    stroke-width: 10px;
    fill: var(--dark-brown);
}


/*Modal*/

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    width: 500px;
    background-color: var(--almost-white);
    padding: 40px;
    border-radius: 20px;
    box-shadow: rgba(0,0,0,0.05) 0 6px 24px, rgba(0,0,0,0.08) 0 0 0 1px;
}

.modal .form-title-container {
    display: flex;
    justify-content: space-between;
}

.modal .form-title-container button {
    border: none;
    background-color: transparent;
}

.modal .form-title-container button:active {
    color: rgb(255, 50, 50);
}

.modal form {
    display: flex;
    flex-direction: column;
}

.modal label {
    font-size: 13px;
}

/*Auth*/

.auth-container {
    display: flex;
    justify-content: center;
    margin: 50px;
}

.auth-container-box {
    background-color: white;
    width: 600px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: var(--light-green) 0 0 30px, rgba(0,0,0,0.08) 0 0 0 1px;
    margin: 50px;
}

.auth-container-box form {
    display: flex;
    flex-direction: column;
    height: 300px;
    padding: 20px;
}

.auth-options {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.auth-options button {
    height: 40px;
    width: 45%;
    border: none;
    border-radius: 15px;
    padding: 10px;
    background-color: var(--light-brown);
    font-weight: bolder;

}
.user-email-div {
    width: 100%;
    text-align: end;
}
.user-email {
    font-size: 14px;
    margin: 10px;
    color: var(--dark-brown);
}

.outer-bar {
    width: 150px;
    height: 14px;
    background-color: var(--lighter-brown);
    border-radius: 7px;
    overflow: hidden;
    margin: 10px;
}

.inner-bar {
    height: 14px;
    background-color: var(--dark-brown);
}

.drag {
    color: var(--light-brown);
}


/********** Range Input Styles **********/
/*Range Reset*/
input[type="range"] {
    -webkit-appearance: none;
     appearance: none;
     background: transparent;
     cursor: pointer;
 }
 
 /* Removes default focus */
 input[type="range"]:focus {
   outline: none;
 }
 
 
 /* slider track */
 input[type="range"]::-webkit-slider-runnable-track {
    background-color: var(--dark-brown);
    border-radius: 0.5rem;
    height: 0.5rem;  
 }
 
 /* slider thumb */
 input[type="range"]::-webkit-slider-thumb {
   -webkit-appearance: none;  /*Override default look */
    appearance: none;
    margin-top: -12px; /* Centers thumb on the track */
 
    /*custom styles*/
    background-color: var(--light-brown);
    height: 2rem;
    width: 1rem;
    border-radius: 10px;
 }
 
 input[type="range"]:focus::-webkit-slider-thumb {   
   border: 1px solid var(--dark-brown);
   /*outline: 3px solid #053a5f;
   outline-offset: 0.125rem; */
 }
 
 
  
  